<section class="form-container">
  <form
    [formGroup]="form"
    (reset)="onReset($event)"
    (ngSubmit)="onConvert($event)"
    class="form"
  >
    <div class="form-field">
      <label class="form-label" for="url">GitHub Page Url</label>
      <input
        class="form-input"
        formControlName="gitHubPageUrl"
        type="text"
        id="url"
        placeholder="Enter GitHub Page Url"
      />
    </div>
    <div class="form-result">
      <span class="form-label">Result:</span>
      <a *ngIf="result" class="form-result" [href]="result" target="_blank">
        GitHubLink
      </a>
    </div>

    <button class="form-button">Convert</button>
    <button class="form-button form-button-reset" type="reset">Clear</button>
  </form>
</section>
